body {
  margin: 0;
  padding: 0;
  min-width: 1200px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

.main-header {
  position: relative;
  padding-top: 0;
}

.main-header-logo {
  margin: 0;
  padding: 0;
  margin-right: 9px;
  padding-top: 8px;
}

.main-navigation {
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;

  color: #ffffff;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.site-navigation a:hover,
.user-navigation a:hover {
  background-color: #fbded7;
}

.site-navigation a:focus,
.user-navigation a:focus {
  background-color: #f6b5a5;
}
