/* Общие стили */

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #849d8f;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a,
a:visited,
a[href^="tel:"]:visited {
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.3);
}

a:hover,
a:active {
  color: #ffbc9e;
  text-decoration-color: rgba(255, 188, 158, 0.3);
}

a[href^="tel:"] {
  color: #ffffff;
}

.link-inverted,
.link-inverted:visited {
  color: #323232;
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.3);
}

.link-inverted:hover,
.link-inverted:active {
  color: #e84d37;
  text-decoration: underline;
  text-decoration-color: rgba(232, 77, 55, 0.3);
}

a[href^="tel:"].tel-inverted,
a[href^="tel:"].tel-inverted:hover,
a[href^="tel:"].tel-inverted:active,
a[href^="tel:"].tel-inverted:visited {
  color: #323232;
  text-decoration: none;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 1146px;
  margin: 0 auto;
  position: relative;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Кнопки */

.button {
  display: inline-block;
  padding: 13px 19px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border-radius: 50px;
  text-decoration: none;
  border: 0;
  outline: none;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  color: #ffffff;
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  color: #ffffff;
}

.button-promo {
  font-size: 18px;
}

.slider-image-button {
  padding: 8px 40px 11px 40px;
  font-size: 32px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

/* Модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 8;
  display: none;
  justify-content: center;
  align-items: center;
}

.backdrop.open {
  display: flex;
}

.modal {
  display: block;
  border-radius: 10px;
  background-color: #f8f7f4;
  padding: 20px 24px 27px 24px;
  max-width: 478px;
  z-index: 10;
  position: relative;
}

.modal-close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.modal-title {
  margin: 0 0 24px 0;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.modal .input {
  min-width: 267px;
}

.modal .input:last-child {
  margin-bottom: 25px;
}

/* Стили главной страницы */

.wrapper {
  width: 100%;
  height: 100%;
  background-color: #849d8f;
  background-image: url(../img/slider-ice-cream-1.png);
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.wrapper::before,
.wrapper::after {
  content: "";
  visibility: hidden;
}

.wrapper::before {
  background-image: url(../img/slider-ice-cream-2.png);
}

.wrapper::after {
  background-image: url(../img/slider-ice-cream-3.png);
}

.top-header {
  position: relative;
  padding-top: 0;
  display: flex;
  padding: 10px 0 0 0;
  box-sizing: border-box;
  width: 100%;
}

.top-header-logo {
  margin: 0;
  padding: 0;
}

.top-navigation {
  display: flex;
  align-items: center;
  margin-top: -8px;
  margin-left: 10px;
  color: #ffffff;
  width: 100%;
}

.user-navigation {
  display: flex;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin-left: auto;
  margin-right: 0;
  padding: 0;
}

.user-navigation-item {
  margin-left: 10px;
}

.user-navigation-link {
  display: flex;
  align-items: center;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  padding: 7px 17px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.user-navigation-link svg {
  margin-right: 7px;
}

.user-navigation-link:hover svg g {
  fill: #000000;
}

.user-navigation-link:hover,
.cart-not-empty .user-navigation-link {
  background-color: #f8f7f4;
  color: #323232;
}

.cart-not-empty svg g {
  fill: #000000;
}

.cart-not-empty .cart-fill {
  fill-opacity: 1;
}

.site-navigation {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.main-content {
  display: flex;
  width: 1146px;
  flex-direction: column;
  margin: 0 auto;
}

.site-navigation-item,
.user-navigation-item {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.site-navigation-item:hover .dropdown,
.user-navigation-item:hover .dropdown {
  display: block;
}

.site-navigation-item-active .navigation-link {
  background-color: #d07058;
  text-decoration: none;
  color: #ffffff;
}

.navigation-link {
  margin: 0;
  display: block;
  margin-right: 1px;
  font-weight: 700;
  font-size: 16px;
  padding: 7px 14px;
  line-height: 18px;
  border-radius: 25px;
}

.navigation-link:active {
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #323232;
  background-color: #f7f6f3;
  text-decoration: none;
}

.navigation-link:active {
  color: #323232;
  background-color: #ededed;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.dropdown {
  display: none;
  position: absolute;
  padding-top: 5px;
  z-index: 1;
  text-align: left;
}

.dropdown-reversed {
  right: 0;
  left: auto;
}

.dropdown-content {
  list-style: none;
  padding: 0;
  box-sizing: border-box;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  background-color: #f8f7f4;
}

.dropdown-reversed .dropdown-content {
  padding: 20px 15px;
}

.dropdown-link {
  display: block;
  margin: 0;
  padding: 8px 21px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  list-style: none;
  white-space: nowrap;
  text-decoration: none;
}

.dropdown-link:visited {
  color: #323232;
}

.dropdown-link:active {
  color: #323232;
  background-color: #f6b5a5;
}

.dropdown-link:hover,
.dropdown-link:focus {
  color: #323232;
  background-color: #fbded7;
}

.site-navigation .dropdown-item:first-child .dropdown-link {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  position: relative;
  padding: 13px 21px;
}

.site-navigation .dropdown-item:first-child .dropdown-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5px;
  right: 5px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.dropdown-item-active .dropdown-link {
  background-color: #d07058;
  color: #fff;
}

.slider {
  position: relative;
  padding-top: 310px;
  padding-bottom: 40px;
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
}

.slider-controls {
  position: absolute;
  bottom: 60px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .wrapper {
  background-color: #849d8f;
  background-image: url(../img/slider-ice-cream-1.png);
}

#product-2:checked ~ .wrapper {
  background-color: #8996a6;
  background-image: url(../img/slider-ice-cream-2.png);
}

#product-3:checked ~ .wrapper {
  background-color: #9d8b84;
  background-image: url(../img/slider-ice-cream-3.png);
}

#product-1:checked ~ .wrapper #slide1,
#product-2:checked ~ .wrapper #slide2,
#product-3:checked ~ .wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .wrapper label[for="product-1"],
#product-2:checked ~ .wrapper label[for="product-2"],
#product-3:checked ~ .wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.slide-title {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.header-contacts {
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  bottom: -50px;
  right: 0;
}

.phone-number {
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
}

.index-grid {
  display: flex;
  margin-bottom: 40px;
}

.index-column {
  padding: 20px;
  margin-right: 25px;
  width: 50%;
}

.index-column:last-child {
  margin: 0;
}

.promo {
  margin: 0px;
  padding: 0px;
  margin-bottom: 35px;
  align-items: stretch;
}

.promo-item {
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 229px;
}

.promo-item:last-child {
  margin: 0;
}

.promo-item-raspberry {
  background-image: url("../img/crimson-background.png");
  background-color: #d5488c;
}

.promo-item-chocolate {
  background-image: url("../img/chocolate-background.png");
  background-color: #3e0a23;
}

.promo-item-title {
  margin: 0;
  padding: 0;
  font-size: 35px;
  font-weight: bold;
  text-align: left;
}

.promo-item-text {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  margin-top: 12px;
  margin-bottom: 46px;
  line-height: 22px;
}

/* Преимущества */

.features {
  border-radius: 15px;
  background-image: url("../img/wafer-background.png");
  margin-bottom: 40px;
  padding: 20px 22px 20px 20px;
  background-color: bisque;
  line-height: 22px;
}

.features-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin-top: 5px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  list-style: none;
  margin: 0 -15px;
  padding: 0;
}

.feature-item {
  box-sizing: border-box;
  position: relative;
  width: 50%;
  display: flex;
  padding: 0 15px;
}

.feature-item svg {
  flex: 0 0 49px;
  margin-right: 9px;
}

.features-item-text {
  color: #323232;
}

.features-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  word-spacing: 0.05em;
  color: #333333;
  margin: 0 0 10px 0;
  padding: 0;
}

.blog {
  background-image: url("../img/strawberry-background.png");
  border-radius: 15px;
  background-position: -20px -200px;
  background-repeat: no-repeat;
  background-color: #ffffff;
  overflow: hidden;
  min-height: 220px;
}

.blog-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
  margin: 0 0 10px 0;
  padding: 0;
}

.blog-link {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  max-width: 280px;
}

.subscribe {
  display: flex;
  min-height: 220px;
  background-image: url(../img/subscription-background-stripes.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  padding: 5px;
}

.subscription-inner {
  background-color: #fff;
  padding: 33px 22px 38px 22px;
  border-radius: 15px;
}

.subscribe-text {
  padding: 0;
  margin: 0 0 34px 0;
  color: #000000;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.subscription-form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.subscription-form .input {
  margin: 0 10px 0 0;
  flex: 1;
}

.map {
  position: relative;
  width: 100%;
  background-image: url(../img/map.png);
  background-size: cover;
  min-height: 430px;
}

.telephone {
  margin: 0px;
  margin-bottom: 25px;
  font-size: 14px;
  color: #323232;
  font-weight: 400;
  word-wrap: break-word;
  width: 173px;
}

.form-contacts {
  position: absolute;
  right: 0;
  top: 63px;
  border-radius: 15px;
  background-color: #ffffff;
  max-width: 302px;
  min-height: 302px;
  margin: 0;
  padding: 32px 25px;
}

.form-contacts-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  margin: 0 0 23px 0;
}

.form-contacts-text b {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.form-contacts .button {
  width: 100%;
}

/* Футер */

.communication {
  display: flex;
  padding-top: 29px;
}

.social-button {
  display: inline-block;
}

.social-button svg {
  border: 3px solid #c2cec7;
  border-radius: 50%;
  color: #e6ebe9;
}

.social-button svg g {
  fill: rgba(255, 255, 255, 0.8);
}

.social-button svg:hover {
  border-color: rgba(255, 255, 255, 0.7);
}

.social-button svg:hover g {
  fill: #ffffff;
}

.social-button svg:active {
  border-color: #e9e9ee;
}

.social-button svg:active g {
  fill: #e9e9ee;
}

.social-media {
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.social-media-item {
  margin-right: 14px;
}

.footer-additional-information {
  display: flex;
  flex: 1;
  justify-content: center;
}

.footer-additional-information a {
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
}

.footer-navigation {
  list-style: none;
  display: inline-block;
  flex-direction: column;
}

.footer-navigation-highlited a {
  font-weight: bold;
}

.footer-navigation-highlited {
  position: relative;
}

.footer-navigation-item {
  margin-bottom: 4px;
}

.heart-icon {
  position: absolute;
  top: 5px;
  left: -22px;
  width: 15px;
  height: 13px;
}

.footer-copyright {
  margin-left: auto;
  min-width: 190px;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: #fefefe;
}

.footer-copyright p {
  margin: 0;
  padding: 0;
}

/* Корзина в каталоге */

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.cart-item:last-child {
  margin: 0;
}

.cart-item-remove {
  min-width: 11px;
  margin-right: 15px;
}

.cart-item-image {
  margin-right: 12px;
}

.cart-item-image img {
  border-radius: 50%;
}

.cart-item-name {
  flex: 1;
}

.cart-item-name a {
  color: #323232;
}

.cart-item-weight {
  min-width: 93px;
  margin-right: 29px;
}

.cart-list {
  padding: 0px 0 20px;
  color: #323232;
  background-color: #f8f7f4;
  min-width: 538px;
}

.result {
  line-height: 1.2;
  color: #323232;
  font-size: 15px;
  font-weight: bold;
}

.dropdown-action {
  border-top: 1px solid #cacac7;
}

/* Формы */

.input {
  padding: 10px 15px;
  min-width: 241px;
  border: solid 1px rgba(178, 178, 178, 0.52);
  border-radius: 5px;
  margin: 0 0 20px 0;
  outline: none;
  outline-offset: 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  background-color: #ffffff;
}

.input::-webkit-input-placeholder {
  font-weight: normal;
}

.input:-ms-input-placeholder {
  font-weight: normal;
}

.input::-ms-input-placeholder {
  font-weight: normal;
}

.input::placeholder {
  font-weight: normal;
}

.input:hover,
.input:focus {
  padding: 9px 14px;
}

.input:hover {
  border: solid 2px rgba(154, 154, 154, 0.52);
}

.input:focus {
  border: solid 2px rgba(46, 136, 228, 0.52);
}

/* Поиск */

.dropdown-search .input {
  min-width: 311px;
  margin-bottom: 0;
}

.navigation-search {
  padding: 8px;
  border-radius: 50%;
}

.navigation-search svg {
  margin-right: 0;
}

/* Вход */

.dropdown-login .input {
  min-width: 241px;
}

.dropdown-email-action {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.dropdown-email-action .button {
  min-width: 100px;
}

.dropdown-email-links {
  padding-left: 10px;
  flex: 1;
}

.dropdown-email-links .link-inverted {
  font-size: 13px;
  line-height: 20px;
}

.dropdown-email-links a {
  display: block;
}

/* Каталог */

.catalog {
  margin-bottom: 42px;
}

.catalog-popular {
  margin-bottom: -95px;
}

.catalog-popular .catalog-item {
  margin-bottom: 38px;
}

.catalog-item-price {
  font-size: 45px;
  font-weight: bold;
  color: #ffffff;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
}

.catalog-list {
  display: flex;
  padding: 0px;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 -15px;
  padding-top: 50px;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 25%;
  padding: 6px 13px 22px 13px;
  box-sizing: border-box;
  text-align: center;
  margin-top: -50px;
}

.catalog-item:hover {
  z-index: 5;
}

.catalog-item::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.catalog-item:hover::before,
.catalog-item:focus::before {
  display: block;
}

.catalog-item:hover .button-preview,
.catalog-item:focus .button-preview {
  visibility: visible;
}

.catalog-item-image,
.catalog-item-name {
  position: relative;
  z-index: 2;
}

.catalog-item-image {
  margin-bottom: 16px;
  position: relative;
}

.catalog-item-image svg {
  position: absolute;
  top: 2px;
  left: 2px;
}

.catalog-item-image img {
  border-radius: 50%;
}

.catalog-item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  margin: 0 0 11px 0;
}

.catalog-item-price {
  position: absolute;
  top: 209px;
  left: -2px;
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
  margin: 0;
}

.catalog-item-price-symbol {
  margin-left: 5px;
}

.catalog-item-weight {
  font-size: 30px;
}

.button-preview {
  align-self: center;
  z-index: 2;
  visibility: hidden;
  padding: 10px 17px 11px;
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
  border-radius: 20px;
  box-shadow: 0 1px 2px 0 #ac1000;
}

.catalog-filters {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.catalog-filters fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}

.catalog-filters legend {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 500;
  margin: 0 0 6px 17px;
  padding: 0 0 0 0;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Хлебные крошки */

.breadcrumbs {
  padding: 0;
  margin: 0;
  margin-top: 12px;
  list-style: none;
}

.breadcrumbs-item {
  display: inline-block;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}

.breadcrumbs-current a {
  text-decoration: none;
}

.breadcrumbs-current a:hover,
.breadcrumbs-current a:active {
  text-decoration: none;
  color: #ffffff;
}

.breadcrumbs-item:not(:last-of-type)::after {
  content: "»";
  padding: 0 4px;
}

/* Пагинатор */

.pagination-list {
  display: inline-flex;
  justify-content: space-between;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  min-width: 200px;
}

.arrow {
  position: relative;
  width: 25px;
  height: 25px;
}

.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  left: 9px;
  width: 6px;
  height: 1px;
}

.arrow::before {
  top: 10px;
}

.arrow::after {
  top: 14px;
}

.arrow-disabled::before,
.arrow-disabled::after {
  background-color: rgba(255, 255, 255, 0.2);
}

.arrow-left::after {
  transform: rotate(220deg);
}

.arrow-left::before {
  transform: rotate(130deg);
}

.arrow-right::after {
  transform: rotate(130deg);
}

.arrow-right::before {
  transform: rotate(40deg);
}

.pagination-item {
  position: relative;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.pagination-item a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
}

.pagination-item:hover,
.pagination-item:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item:active {
  background-color: #ffffff;
  color: #333333;
}

.pagination-item-current,
.pagination-item-current:hover,
.pagination-item-current:active {
  background-color: #ffffff;
}

.pagination-item-current a {
  text-decoration: none;
  color: #333333;
}
